@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
	src: url("../fonts/GLCBaskerville.ttf");
}

/*******************************CSS DAS MEDIDAS PRINCIPAIS*/

@media (min-width: 1200px) {
    .container{
        max-width: 765px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 765px;
    }
}

body {
    margin-top: 10px;
    font-family: Verdana;
    font-size: 12px;
    color: #727E55;   
}

.container, .container-fluid {
    background-color: #fFF;   
}

.row {
    margin-top: 0;
    margin-bottom: 3px;
}

[class*="col-"], header, footer, aside, section, div[role="main"] {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

div[role="main"], footer {
    background-color: #fff;
    height: auto;
}

header, .masthead, .img-rolante {
    margin-bottom: 0;
}

/*******************************CSS DA BARRA DO LOGO*/

.img-header {
    margin-bottom: 0;
    background-image: url("../imagem/barra01.jpg");
    height: 50px;
}

.logo {
    font-family: 'FonteLogo';
    font-size: 2em;
    text-decoration: none;
    text-align: left;
    margin-left: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    letter-spacing: 0.05em;
    line-height: 50px;
}

.logo:hover ,
.logo:focus ,
.logo:active {
    font-size: 2em;
    text-decoration: none;
    color:  #f2f2f2;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.voltar {
    font-size: 15px;
    margin-left: 10px; 
    color:#fff;
}

.voltar:hover {
    color: #f2f2f2;
}

/*******************************CSS DA IMAGEM ROLANTE*/

.img-rolante {
    margin: 0;
    width: 100%;
}

/*******************************CSS DO SEPARADOR E ICONES*/

.sep {
    width: 100%;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 0;
    color: #B0C088;
}

.icones {
    font-size: 15px;
    float: right; 
    line-height: 50px;
    margin-right: 10px; 
    color:#fff;
}

.icones:hover {
    color: #f2f2f2;
}

/*******************************CSS DAS MEDIDAS DAS TABELAS E TEXTOS CONTIDOS*/

table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

table img {
    border: 1px solid #B0C088;
}

.img-principal {
    height: 140px;
    width: 170px;
}

.info {
    padding-left: 10px;
    font-family: Verdana;
	color: #829951;
	font-size: 13px;
   	font-weight: 700;
    text-align: left;
    height: auto; /*25px*/
}

.info a,
.info a:hover,
.info a:active,
.info a:focus {
	text-decoration: none;
	font-family: Verdana;
	color: #829951;
	font-size: 13px;
   	font-weight: 700;
}

.info-up {
    padding-bottom: 3px;
}

.info-down {
    padding-top: 3px;
}

.mini-desc {
    padding-left: 10px;
    height: auto;
    font-family: Verdana;
    font-size: 11px;
    color: #697052;
    text-align: justify;
}

.descricao {
    padding-right:  20px;
    padding-left: 20px;
    font-family: Verdana;
    font-size: 11px;
    color: #697052;
    text-align: justify;
}

b {
    font-weight: 700;
}

.img1 {
    height: 280px;
    width: 755px;
    padding-bottom: 5px;
}

.img2 {
    height: 280px;
    width: 375px;
    padding-bottom: 5px;
}

/*******************************CSS DO FOOTER*/

footer {
    margin-bottom: 16px;
    text-align: center;
}

.img-footer {
    background-image: url("../imagem/barra02.jpg");
    height: 50px;
}

.voltar-footer,
.voltar-footer:focus,
.voltar-footer:active,
.voltar-footer:visited {
    float: left; 
    line-height: 40px;
    margin-left: 10px; 
    font-size: 20px;
    color:#fff;
}

.voltar-footer:hover {
    color: #f2f2f2;
}

.linkt1,
.linkt1:hover,
.linkt1:active,
.linkt1:visited,
.linkt1:focus {
    text-decoration: none;
    font-family: Verdana;
    font-size: 8px;
    font-weight: 700;
    color: #829951;
}

.linkt2,
.linkt2:hover,
.linkt2:active,
.linkt2:visited,
.linkt2:focus {
    text-decoration: none;
    font-family: Verdana;
    font-size: 10px;
    font-weight: 700;
    color: #829951;
}

.link3,
.linkt3:hover,
.linkt3:active,
.linkt3:visited,
.linkt3:focus {
    text-decoration: none;
    font-family: Verdana;
    font-size: 10px;
    font-weight: 700;
    color: #EA680C;
}